
.App {
  text-align: center;
  padding: 0;
  margin: 10px;
}

.App nav {
  display: flex;
}

.App nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.App nav ul li { 
  flex-grow: 1;
  padding: 20px;
}

.App nav ul li a {
  text-decoration: none;
}

.App label.hidden {
  display: none;
}

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.home h1 {
  text-align: center;
}

.donate-paint {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.donate-paint label,
.paint-detail label {
  display: block;
  text-align: center;
}

.donate-paint aside {
  position: relative;
  left: 200px;
}

.color-picker-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
}

.color-picker-holder {
  align-self: center;
  display: flex;
}

.color-picker {
  display: flex;
  flex-direction: column;
}

.color-pixel {
  display: inline-block;
  box-sizing: border-box;
  height: 8px;
  width: 8px;
}

.color-row {
  display: flex;
  margin: 0;
  padding: 0;
  height: 8px;
}


.selected-color {
  height: 20px;
  width: 130px;
  align-self: center;
  margin: 10px;
  border: 1px solid #666;
}


.screen {
  position: fixed;
  top: 0;
  background-color: rgb(0,0,0,0.7);   
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal {
  background-color: #fff;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.error {
  color: red;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.error span {
  background-color: #e89;
  padding: 4px 10px;
}

.paint-cell {
  width: 140px;
  height: 160px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: #666 3px 3px 4px;
}

.paint-cell span {
  display: block;
}

/* SendEmail / PaintDetails page */

.paint-detail header {
  text-align: left;
  margin-bottom: 20px;
}


.paint-detail header label {
  margin-right: 10px;
  font-weight: bold;
  display: inline-block;
}

.home-button-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: space-around;
}

.jumbo-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  box-shadow: #666 6px 6px 12px;
  width: 200px;
  height: 60px;
  background-color: lime;
}

.warning {
  background-color: #E22;
  padding: 20px;
  font-weight: bold;
}

h4 {
  padding: 5px;
}
.emphasize-on-hover{
  box-shadow: none;
  padding: 5px;
  border: 1px solid transparent;
}
.emphasize-on-hover:hover {
  box-shadow: #666 6px 6px 12px;
  border: 1px solid blue;
}