# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

config/config.ts
public
server/credentials.json
server/build

terraforming/.terraform
terraforming/.terraform.lock.hcl
terraforming/.terraform.tfstate
terraforming/.terraform.tfstate.backup

shellscripts
.env